#right-nav {
	margin-top: 22px;
}

#right-nav .nav ul {
	list-style: none;
}

#right-nav .nav li a {
	border-left: 2px solid white;			
}

#right-nav .nav li > a {
	padding-top: 8px;
	padding-bottom: 4px;
}

#right-nav .nav li li a {
	font-size: 0.9em;
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 4px;
}

#right-nav .nav li ul {
	padding-left: 20px;
}

#right-nav .nav li.active > a {
	border-left: 2px solid black;		
}

#right-nav .nav > li .nav.subsections {
	display: none;
}

#right-nav .nav > li.active .nav.subsections {
	display: block;
}

#top-nav {
	margin-top: 20px;
}

h1.page-header {
	font-size: 48px;
	margin-top: 10px;
}

footer {
	color: lightgrey;
	margin-top: 30px;
	margin-top: 70px;
	border-top: 1px solid;
	height: 80px;
	font-size: 0.9em;
}

footer a {
	color: lightgrey;
}

footer a:hover {
	color: lightgrey;
}

footer .copyright {
	margin-top: 12px;	
}

footer img {
	margin-top: 6px;
}

blockquote {
    font-size: 14px;
    background-color: #FAFAFA;
    color: #505050;
}

code {
    font-size: 85%;
    color: #333;
    background-color: #FBFBFB;
}

span.title-img {
    padding-left: 48px;
}

figure {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

figure figcaption {
    font-size: 0.8em;
}

.key-points h2.persistence span.title-img {
    background: url("../img/icon-dbsearch-small-bw.png") center left no-repeat;
}

.key-points h2.users span.title-img {
    background: url("../img/icon-people-small-bw.png") center left no-repeat;
}

.key-points h2.renderer span.title-img {
    background: url("../img/icon-form-small-bw.png") center left no-repeat;
}

.key-points h2.json span.title-img {
    background: url("../img/icon-jsonhttp-small-bw.png") center left no-repeat;
}
